@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
   
}



.gradient-text {
    background: radial-gradient(circle at top left, rgb(235, 93, 93), rgb(214, 71, 143), rgb(241, 100, 6), rgb(255, 196, 0));
    background-size: 300% 300%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: neonFlow 40s ease-in-out infinite;
}



.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}


.gradient-button {
    background: radial-gradient(circle at top left, rgb(235, 93, 93), rgb(214, 71, 143),
            rgb(241, 100, 6), rgb(42, 230, 158));
    background-size: 300% 300%;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.5s ease-in-out;
}

.gradient-button:hover {
    background-position: right center;
}